<html>
   <head>
      <title>IP Range Finder</title>
   </head>
   <body>
      <p>File parsed successfully</p>
      <br>
      <h3>Matched range:</h3>
      <table>
         <tr>
            <th>Route Source</th>
            <th>Destination Subnets</th>
            <th>Destination Service Tags</th>
            <th>Next Hop Type</th>
            <th>Next Hops</th>
            <th>Is Enabled</th>
         </tr>
         <tr>
            <td>{{routesource}}</td>
            <td>{{destinationsubnets}}</td>
            <td>{{destinationservicetags}}</td>
            <td>{{nexthoptype}}</td>
            <td>{{nexthops}}</td>
            <td>{{isenabled}}</td>
         </tr>
      </table>
   </body>
</html>