<html>  
<head>  
    <title>IP Range Finder</title>  
</head>  
<body>
    <h1>Welcome to IP Range finder!</h1>
    <h2>Use this tool to parse your effective routes and Dump Routing Info files and find which range is maching for a specific IP</h2>
    <h3>To parse the Dump Routing Info file follow these steps:</h3>
    <ol>
        <li>Go to the ExpressRoute page on ASC and download the file from the "DumpRoutingInfo" link</li>
        <li>Here on the tool, click on "Choose File" button on the first slot and upload the DumpRoutingInfo file</li>
        <li>On the first slot textbox type in the IP for which you want to find the maching range</li>
        <li>Click on the "Upload Dump Routing Info file" button to submit and parse the file</li>
        <li>You will then be directed to the output page with the result. If no range matched the IP you will get an empty response.</li>
    </ol>
    <form action = "/dumproutinginfo" method = "post" enctype="multipart/form-data">  
        <input type="file" name="file" />
        <label for="ip">IP to look for:</label>
        <input type ="text" name="ip" id="ip" required/> 
        <input type = "submit" value="Upload Dump Routing Info file">  
    </form>
    <h3>To parse the Effective Routes file follow these steps:</h3>
    <ol>
        <li>Go to either the NIC ASC page and get the NIC Effective Routes, or to the VM Diagnostics blade on ASC and run a test traffic to get the NIC Effective Routes</li>
        <li>Once you have the results for the effective routes you need to download the Excel file from ASC</li>
        <ul>
            <li>To do so, click on the "Export to Excel file" (first button on the top right corner of the table)<img src="/static/img/excel_button.png" alt="excel_button" height="50"></li>
        </ul>
        <li>Here on the tool, click on the "Choose File" button on the second slot and upload the Effective Routes Excel file</li>
        <li>On the second slot textbox type in the IP for which you want to find the maching range</li>
        <li>Click on the "Upload effective routes excel file" button to submit and parse the file</li>
        <li>You will be then directed to the output page with the result. If no range matched the IP you will get an empty response.</li>
    </ol>
    <form action = "/effectiveroutes" method = "post" enctype="multipart/form-data">  
        <input type="file" name="file" />
        <label for="ip">IP to look for:</label>
        <input type ="text" name="ip" id="ip" required/>  
        <input type = "submit" value="Upload effective routes excel file">  
    </form>  
</body>  
</html>